* {
  margin: 0;
}

h1 {
  text-align: center;
}

.navbar {
  width: 100%;
  border: 1px solid rgb(187, 196, 187);
  display: flex;
  align-items: center;

}

li {
  padding: 2px;
  list-style: none;
  border: 1px solid rgb(187, 196, 187);
  margin: 5px
}

a {
  text-decoration: none;
}
